{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block main %}

    <script>
        function VoltarAPaginaAnterior(params) {
            location.href = params
        }
    </script>

    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}

        <button class="btn btn-danger" type="button" onclick="VoltarAPaginaAnterior('{% url 'receitas' %}')">Voltar</button>
        <button class="btn btn-info" type="submit">Salvar</button>
    </form>

{% endblock %}